.navbar {
  background-color:maroon; 
  border-color:black;
}

body{ /* Normal  */
    font-size: 13px;
    background-color: white
}

h1.title {
  font-size: 26px;
}

h2 { /* Header 2 */
    font-size: 24px;
    color: DarkRed;
}

h3 { /* Header 3*/
    font-size: 20px;
    color: DarkRed;
}

h4 { /* Header 4*/
    font-size: 14px;
}

a:link {
    color: darkred;
  }
a:visited {
  color: darkred;
}
a:hover {
  color: blue;
}

.column-left{
    float: left;
    width: 25%;
    text-align: left;
  }
.column-right{
  float: right;
  width: 75%;
  text-align: left;
}
.column{
  float: left;
  width: 100%;
  text-align: left;
} 
.column-f1{
  float: left;
  width: 40%;
  text-align: left;
}
.column-f2{
  float: right;
  width: 40%;
  text-align: right;
}

p.outset {border-style: outset;}
p.groove {border-style: groove;
          border-color: DarkRed;
}

p.bor {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  background-color: white;
}

hr{
  border: 0.5px solid DarkRed;
}

hr.new{
  border: 5px solid DarkRed;
  border-radius: 5px;
}

hr.new1{
  border: 0.5px solid #e6e6e6;
}

.cc {
  font-family: "Lucida Console", Courier;
  font-size: 13px;
}

.cc3 {
  font-size: 11px;
}

.ptitle{line-height: 0.5em;}