.reveal section p {
  color: gray;
  font-size: 15px;
}

.c2-left{
  float: left;
  width: 40%;
}
.c2-right{
  float: right;
  width: 40%;
}

.c3-left{
  float: left;
  width: 65%;
}
.c3-right{
  float: right;
  width: 25%;
}

.c4-left{
  float: left;
  width: 25%;
}
.c4-right{
  float: right;
  width: 65%;
}

body {
  /*background-image: url("Grupo-Elza1.png");
  min-height: 500px;*/
  background-color: #ffffff;
  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;
  background-position: right top;
  /* Set the background image to no repeat */
  background-repeat: no-repeat;
  /* Scale the background image to be as large as possible */
  background-size: cover;
}

a {
  text-decoration: none;
  color: #9966ff;
}

.arrow {
  border: solid #73a1eb;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#triangulo-para-cima {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #5386E4;
}
#triangulo-para-direita {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid #4C4B63;
}
#triangulo-para-baixo {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #949396;
}
#triangulo-para-esquerda {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right:25px solid #ABA8B2;
}
